<style type="text/css">
a:link{color:#0000ff; text-decoration:none}
a:visited{color:#0000ff; text-decoration:none}
header{
    text-align: center;
    margin: auto;
    width: auto;
    background-color: lightskyblue;
}

